 /***************************************
  	  Shared CSS across Entire Site
  ****************************************/
 -[class*="col-sm"] {
 -	border: 1px solid red;
 -}
 -
 -[class*="row"] {
 -	border: 1px solid red;
 -}
  
  body {
 -	height: 700px;
  	background-image: url("images/concrete-texture.png");
 +	height: 100%;
 +}
 +
 +.container {
 +	height: 100%;
  }
  
  a {
 @@ -65,7 +62,7 @@ a:hover {
  }
  
  #connect {
 -	margin: 35px 10% 35px 10%;
 +	margin: 35px 13% 35px 13%;
  	height: 160px;
  	background: #fff;
  	text-align: center;
 @@ -74,7 +71,7 @@ a:hover {
  #connect h3 {
  	font-size: 1.7em;
  	font-weight: bold;
 -	padding: 0px 0px 0px 15px;
 +	padding: 15px 0px 0px 15px;
  	color: #4aaaa5;
  }
  
 @@ -90,26 +87,26 @@ a:hover {
  
  #footer {
  	background: #666666;
 -	height: 70px;
 -	text-align: center;
 -	line-height: 70px;
 -	color: #fff;
 -	border-top: 2px solid #4aaaa5;
 +    height: 70px;
 +    text-align: center;
 +    line-height: 70px;
 +    color: #fff;
 +    border-top: 2px solid #4aaaa5;
  }
  